<% @user.each do |user| %>
    <%= image_tag(user.photo, width:'150px', height:'200px') %><br>
    <%= user.name %><br>
    Number of posts: <%= user.posts_counter.to_i %><br>
    Bio: <%= user.bio %><br>
    <% @user_posts.each do |post| %>
        <%= post.title %><br>
        <%= post.text %><br>
        Comments: <%= post.comments_counter.to_i %><br>
        Likes: <%= post.likes_counter.to_i %><br>
    <% end %>
    <% @@id = user.id %>
<% end %>

    <a href=<%= "http://127.0.0.1:3000/posts/index/?id=#{@@id}" %>>
    See all posts
    </a>