<div>
  <section class="show-section">
  <div class="user-con">
    <%= image_tag(@user.photo, width:'150px', height:'200px', class:'user-img') %>
    <div class="user-info">
    <h1><%= @user.name %></h1>
    <p>Number of posts: <%= @user.posts_counter.to_i %></p>
    </div>
  </div>
  <div class="user-bio">
    <p>Bio</p>
    <p><%= @user.bio %></p>
  </div>
  <div>
    <% @user.posts.each_with_index do |post, index| %>
      <div class="user-card">
        <p>Post #<%= index + 1 %></p>
        <h2><%= post.title %></h2>
        <p><%= post.text %></p>
        <div class="user-c-p">
          <p>Comments: <%= post.comments_counter.to_i %></p>
          <p>Likes: <%= post.likes_counter.to_i %></p>
        </div>
      </div>
    <% end %>
  </div>
  </section>
  <div class="btn-con">
    <%= link_to 'See all posts', user_posts_path(@user), class: "posts-btn" %>
  </div>
</div>