<div>
  <section>
    <%= image_tag(@user.photo, width:'150px', height:'200px') %>
    <h1><%= @user.name %></h1>
    <p>Number of posts: <%= @user.posts_counter.to_i %></p>
    <p>Bio: <%= @user.bio %></p>
    <div>
    <% @user.posts.each do |post| %>
        <h2><%= post.title %></h2>
        <p><%= post.text %></p>
        <p>Comments: <%= post.comments_counter.to_i %></p>
        <p>Likes: <%= post.likes_counter.to_i %></p>
    <% end %>
    </div>
  </section>

  <%= link_to 'See all posts', user_posts_path(@user) %>
</div>