<div>
    <%= image_tag(@user.photo, width:'150px', height:'200px') %>
    <h1><%= @user.name %></h1>
    <p>Number of posts: <%= @user.posts_counter.to_i %></p>
    <h1>Posts:</h1>
    <%= link_to "Create a post", new_user_post_path, class: "button" %>
    <section>
        <% @user.posts.each do |post| %>
            <h2><%= link_to post.title, user_post_path(post.user_id, post) %><h2>
            <p><%= post.text %></p>
            <p>comments: <%= post.comments_counter.to_i %></p>
            <p>likes: <%= post.likes_counter.to_i %></p>
        <% end %>
    </section>
</div>